body{
    background-image: url(pexels-photo-797666.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    
    background-color: rgb(59, 57, 57);
    padding: 15px;
    margin: 10px;
    border-bottom: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    color: darkgrey;
    position: sticky;
    width: 100%;
}

#targil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
   
}
.img{
    display: flex;
    background: rgb(253, 253, 251);
    justify-content: center;
    flex-direction: space-around;
    margin: 10px;
    animation: hotel 5s 1;   
}
@keyframes hotel{
    0%{

        transform: translateY(300px);
    }
  
    50%{
        transform: translateY(150px);
    }
    100%{
        transform: translateY(0);
    }
}
.img:hover{
    transform: scale(1.2);
    transition:all 1s linear;
    

}
footer{
    background-color: rgb(77, 75, 75);
    justify-content: center;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    color: darkgrey;
    font-size: 20px;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;

}
@media (max-width: 375px){
    .img:hover{
        transform: scale(1.1);
        transition:all 1s linear;
    }
}
